# Buildozer
.buildozer/
bin/

# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
env/
.venv/

# Android
.gradle/
*.apk
*.aab

# IDE
.vscode/
.idea/

# Logs
*.log

# Temporary files
*.tmp
*.temp
